{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <h1>My Tasks</h1>
        {% if user.tasks.all|length > 0 %}
        <table>
            <thead>
                <th>Name</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Is completed</th>
            </thead>
            <tbody>
                {% for tasks in tasks %}
                <tr>
                    <td>{{tasks.name}}</td>
                    <td>{{tasks.start_date}}</td>
                    <td>{{tasks.due_date}}</td>
                    <td>{{tasks.is_completed|yesno:"yes,no"}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- otherwise -->
        {% else %}
        <p>You have no tasks</p>
        {% endif %}
    </div>
</main>
{% endblock content%}
